@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 fw-bold mt-5">Gestione Contravvenzioni</h1>
    <h3 class="mt-5 fw-bold">🚓 👮‍♂️ Il Portale più amato dagli italiani! 👮‍♂️ 🚓</h3>
</div>
